.feynman__link {
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  align-items: center;
  display: flex;
  color: #2f80ed;
  text-decoration: none;
}


.feynman__link:hover {
  opacity: 0.6;
}
