/* description */
@import url(../blocks/desctiption/desription.css);


.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  gap: 60px 20px;

}

.two-columns__brief {
  max-width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}


.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: auto;

}

.two-columns__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 30px;
}


.two-columns__paragraph:last-child{
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
