.section-subtitle {
  font-size: 24px;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 20px;
}
