


.header__square-pic_type_rotate {
  animation: rotation 20s linear infinite;

}


.header__square-pic {
  width: 568px;
  height: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;

}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
