.kaufman__triangle {
  position: absolute;
  color: #2f80ed;
  top: 0px;
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  right: -210px;
  background-size: cover;
  z-index: -1;
}
