.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* Антон, спасибо большое за работу я внес текущие изменения. Что-то было не понятно из за не внимательности но я думаю что с опытом научусь обращать внимание на такие вещи с модификаторами. */

/* header */

.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: visible;
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  align-items: center;
}

.header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  max-width: 730px;
  margin-left: 64px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
  margin-top: 0;
  margin-bottom: 0;
}


.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}


.header__square-pic {
  width: 568px;
  height: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* description */



.two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  margin: auto;
  gap: 60px 20px;

}

.two-columns__brief {
  max-width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}


.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: auto;

}

.two-columns__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 30px;
}


.two-columns__paragraph:last-child{
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}


/* digits */

.digits {
  padding-bottom: 100px;
}

.section-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle {
  font-size: 24px;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 20px;
}


.table {
  display: flex;
  gap: 60px 20px;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  width: 1100px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}


.table__cell {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}


.table__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 20px;
}



.table__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text:last-child {
  margin-bottom: 0px;
}

/* Feinman */


.feynman__title {
  font-weight: 600;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  max-width: 648px;
  padding-top: 100px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}



.feynman__subtitle {
  font-size: 36px;
  text-align: center;
  padding-top: 70px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 0;
}


.feynman__link {
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  align-items: center;
  display: flex;
  color: #2f80ed;
  text-decoration: none;
}




.feynman {
  background-color: #f2f2f2;
  width: 100%;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: 0% 100%; /* + */
  background-size:  867px 637px; /* + */
  position: relative;
}


/*Kaufman*/   /* По БЭМ валидатору получаются такие наименования table_theme_dark и table__cell_theme_dark */

.kaufman {
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-position: 125% 10%;
  background-size: 60%;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;

}


.table_theme_dark {
  display: flex;
  gap: 80px 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px; /* + */
  margin: auto;
  width: 1100px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}


.table__cell_theme_dark {
  color: white;
  width: 200px;
  z-index: 1;
}


.section-title_theme_dark {
  color: white;
  z-index: 1; /* + */
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman_title {
  font-weight: 600;
  font-size: 70px;
  text-align: center;
  width: 100%;
  padding-top: 60px;
}


.kaufman__triangle {
  position: absolute;
  color: #2f80ed;
  top: 0px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  right: -210px;
  background-size: cover;
}


/* footer */

.footer{
  display: flex;
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom:40px;
  box-sizing: border-box;
  margin: auto;
}


.footer__columns {
  display: flex;
  color: white;
  width: 90%;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.footer__column_content_copyright {
  color: white;
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  align-items: center;
}

.footer__author {
  font-weight: normal;
  font-size: 18px;
  display: flex;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
}


.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column_content_info {
  color: white;
}



.footer__column-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin: 0;
}


.footer__column-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.footer__column-links {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 16px
}




